.primary{
    background-color: rgb(0, 195, 255);
    color: white;
    border: none;
    height: 40px;
    width:90px;
    border-radius: 10px;
}

.danger{
    background-color: rgb(240, 44, 18);
    color: white;
    border: none;
    height: 40px;
    width:90px;
    border-radius: 10px;
}
.head{
    text-align: center;
}
.flex-box-container-1 ,.flex-box-container-2{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
}
.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    text-align: center;
}
.container-1 {
    margin: 0 auto;
    width: 75%;
}

